################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KartverketWebApp/KartverketWebApp/obj/Debug/net8.0/KartverketWebApp.AssemblyInfoInputs.cache
/KartverketWebApp/KartverketWebApp/obj/Debug/net8.0/KartverketWebApp.AssemblyInfo.cs
