@{
    ViewData["Title"] = "Home Page";
}

@model KartverketWebApp.Models.PositionModel

<div class="green_bar"></div>

<div class="app_main">
    <div class="map_container">
        <div id="map"></div>
        <div class="center-container">
            <button class="btn_map">Rapporter</button>
        </div>  
    </div>
    <div class="form_area">
        <form asp-action="Index" method="post">
            <input type="hidden" id="latitude" name="latitude" />
            <input type="hidden" id="longitude" name="longitude" />
            <input type="text" id="brukernavn" name="brukernavn" />
            <div class="description_container">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control"></textarea>
            </div>
            <div class="center-container">
                <button type="submit" class="btn_submit">Rapporter</button>
            </div>
        </form>
    </div>
</div>





<script>
    var map = L.map('map').setView([58.1548282, 8.0081166], 13);
    var osm = L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png', {
    });
    osm.addTo(map);

    const button = document.querySelector('.btn_map');
    const div1 = document.querySelector('.map_container');
    const div2 = document.querySelector('.form_area');
    const div3 = document.querySelector('.app_main');
    const div4 = document.querySelector('.btn_map');

    button.addEventListener('click', function () {
        // Toggle the 'transformed' class on the div
        div1.classList.toggle('map_container_transform');
        div2.classList.toggle('form_area_transform');
        div3.classList.toggle('app_main_transform');
        div4.classList.toggle('btn_map_transform');

    });

    function onMapClick(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        L.marker([lat, lng]).addTo(map);

        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;
    }
    // Listen for map clicks
    map.on('click', onMapClick);
</script>
