@{
    ViewData["Title"] = "Takk for rapport";
}

<div class="text-center">
    <h1 class="display-4">Takk for at du rapporterte feil</h1>
    <p>Vi tar din rapport på største alvor</p>
    <div class="container-center">
        <img id"takk" src="https://bygg1.no/wp-content/uploads/2018/04/Tommel-opp.png"/>
    </div>
    <div class="center-container">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
    </div>
</div>
