@using KartverketWebApp.Data
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KartverketWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KartverketWebApp.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet" href="/css/LeafletOverride.css" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://kit.fontawesome.com/29c703464a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="nav-stedholder">
            @if (User.Identity.IsAuthenticated && 
                 (User.Claims.Any(c => c.Type == "BrukerType" && (c.Value == "admin" || c.Value == "saksbehandler"))))
            {
                <!-- For admin og saksbehandler - logo uten link og kun logg ut -->
                <div class="navbar-brand">
                    <img src="~/images/standard_kartverket.png" asp-append-version="true" alt="Image" class="kartverket_logo">
                </div>

                <div id="saksbehandler">
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="btn btn-primary">Logg ut</button>
                    </form>
                </div>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <!-- For standard-bruker og spesial-bruker - fungerende logo, Min side og logg ut -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/standard_kartverket.png" asp-append-version="true" alt="Image" class="kartverket_logo">
                </a>

                <div id="saksbehandler">
                    <a asp-action="MinSide" asp-controller="Home">
                        <button class="btn btn-secondary">Min Side</button>
                    </a>

                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="btn btn-primary">Logg ut</button>
                    </form>
                </div>
            }
            else
            {
                <!-- For ikke-innloggede brukere - fungerende logo og logg inn -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/standard_kartverket.png" asp-append-version="true" alt="Image" class="kartverket_logo">
                </a>

                <div id="saksbehandler">
                    <a asp-action="Login" asp-controller="Account">
                        <button class="btn btn-primary">Logg inn</button>
                    </a>
                </div>
            }
        </div>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>