<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KartverketWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KartverketWebApp.styles.css" asp-append-version="true" />
    <!-- Leaflet core -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet" href="/css/LeafletOverride.css" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>


</head>
<body>
    <header>
        <div class="login-button-container">
    <a asp-controller="Account" asp-action="Login" class="btn-login">Logg inn</a>
</div>
        <div class="nav-stedholder"> 
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="images/standard_kartverket.png" class="kartverket_logo"/>
             </a>
             <h1>Stedholder for nav </h1>
             <div id="saksbehandler">
                <a asp-action="Saksbehandler" asp-controller="Home">
                    <button class="btn btn-primary">Til oversikt</button>
                </a>
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
