/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.kartverket_logo {
    max-height: 47px; /* Maintain a maximum height without forcing it */
    width: auto; /* Automatically adjusts width to maintain aspect ratio */
    object-fit: contain; /* Prevent distortion */
}

.nav-stedholder {
    position: relative;
    z-index: 2000;
    background-color: white;
    top: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    height: 106px;
}

    .nav-stedholder h1 {
        text-align: center;

    }

a {
    color: #0077cc;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;

}

#saksbehandler{
    position: absolute;
    right: 10vw;
    top: 0vh;

}
