@model KartverketWebApp.Models.StednavnViewModel

<div class="stednavn-details">
    <h3>Stednavn Details</h3>
    <p>Fylkesnavn: @Model.Fylkesnavn</p>
    <p>Fylkesnummer: @Model.Fylkesnummer</p>
    <p>Kommunenavn: @Model.Kommunenavn</p>
    <p>Kommunenummer: @Model.Kommunenummer</p>
</div>
