@model KartverketWebApp.Models.LoginViewModel

<link rel="stylesheet" href="~/css/Login.css">

<div class="login_main">
    <div class="login_container">
        
        <!-- Logo -->
        <img id="kartverket_logo" src="~/images/standard_kartverket.png" alt="Kartverket Logo">

        <!-- Innloggingsskjema -->
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="validation-errors"></div>

            <div class="form-group">
                <label asp-for="Username">E-postadresse</label>
                <input asp-for="Username" type="email" placeholder="Din e-post" required />
            </div>

            <div class="form-group">
                <label asp-for="Password">Passord</label>
                <input asp-for="Password" type="password" placeholder="Ditt passord" required />
            </div>

            <div class="form-group">
                <input asp-for="RememberMe" type="checkbox" />
                <label asp-for="RememberMe">Husk meg</label>
            </div>

            <button type="submit" class="btn_login">Logg inn</button>
        </form>

        <!-- Lenke til registrering -->
        <a href="/Account/Register" class="register-link">Ny bruker? Registrer deg her</a>
    </div>
</div>
